Repository iwf-web/docker-verdaccio, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker

fix: Update actions
  .github/workflows/greetings.yml
  .github/workflows/label.yml
Labels: none

feat: Add example CI script
  .github/workflows/dependabot-automerge.yml
  .github/workflows/disabled/ci.yml
Labels: none

fix: remove wrong title
  .github/workflows/disabled/ci.yml
Labels: none

Prepare CI
  .github/workflows/ci.yml
  .github/workflows/dockerhub-description.yml
  test/workflows/.secrets.dist
  test/workflows/event-pr.json
  test/workflows/event-tag.json
Labels: none

fix: deprecation
  .github/workflows/dockerhub-description.yml
Labels: none

fix: Hub description update and more info to build output
  .github/workflows/ci.yml
  .github/workflows/dockerhub-description.yml
  src/Dockerfile
Labels: docker

Disable pushing for testing
  .github/workflows/ci.yml
Labels: none

add provenance and sbom to build output
  .github/workflows/ci.yml
  bin/build-ci.sh
Labels: none

fix: use context instead of file for docker build
  .github/workflows/ci.yml
Labels: none

fix: add name to GitHub actions
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  CODEOWNERS
Labels: none

Fix license
  LICENSE.txt
Labels: none

Improve issue templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: documentation

fix: wrong links
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Labels: none

fix: missing doc
  .github/feature-or-bug.md
Labels: documentation

Update
  .github/FUNDING.yml
Labels: none

Add devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Labels: none

Fix bind mount in dev container
  .devcontainer/devcontainer.json
  compose.yml
Labels: docker

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

feature:
  - head-branch: ['^feature', 'feature']

release:
  - all:
    - base-branch: 'master'
    - head-branch: ['^release', 'release']

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'compose.build.yml'
      - 'compose.yml'
